.list-item{
  text-align: center;
  &-title{
    margin-bottom: $spacer-1;
  }
  &-link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: $text-gray;
    line-height:2;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $gray-dark;
      visibility: hidden;
      transform: scaleX(0);
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }
    &:hover{
      color: $text-gray-dark;
      &::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  &-meta{
    margin-bottom: $spacer-4;
    font-size: $font-size-small;
    color: $text-gray-light;
    height:24px;
    line-height:24px;
    .iconfont {
      font-size:$font-size-small;
      margin-right: $spacer-2;
    }
    &-line{
      margin:0 $spacer-2;
    }
  }
  &-summary{
    line-height:2;
  }
  &::after{
    content:"";
    display: block;
    margin: 80px auto 60px;
    width: 8%;
    height: 1px;
    background: $border-color;
    text-align: center;
  }
}