.input-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  line-height: normal;
}

.input {
  display: inline-block;
  width: 100%;
  height: 32px;
  @include input();
}
