body {
  --bg: #fff;
  --bgBase: #f7f7f7;
  --black: #24292e;
  --color: #515a6e;
  --primary: #2980b9;
  --fontSizeSmall: 10;
  --fontSizeBig: 14;
  --fontSizeLarge: 16;
  min-height: 100vh;
  background: var(--bg);
  color: var(--color);
}
body.dark{
  --color: green;
  --bg: #ccc;
}
