@import './assets/styles/base/index.scss';

/* 设置draft-js基础样式 */
.public-DraftEditorPlaceholder-root{
  top: 15px;
  left: 15px;
  font-size: 16px;
  pointer-events: none;
}
.DraftEditor-editorContainer{
  box-sizing: border-box;
  border: none;
}
.DraftEditor-root,
.public-DraftEditor-content,
.DraftEditor-editorContainer{
  height: 100%;
}
.public-DraftEditor-content{
  box-sizing: border-box;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.public-DraftEditor-content > div{
  padding-bottom: 20px;
}

.public-DraftEditor-content blockquote{
  margin: 0 0 10px 0;
  padding: 15px 20px;
  background-color: #f1f2f3;
  border-left: solid 5px #ccc;
  color: #666;
  font-style: italic;
}
.public-DraftEditor-content pre{
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0;
  padding: 15px;
  overflow: auto;
  background-color: #f1f2f3;
  border-radius: 3px;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.public-DraftEditor-content pre pre{
  margin: 0;
  padding: 0;
}


[data-title] {
  position: relative;
}
[data-title]::before,
[data-title]::after{
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity .3s, transform .3s;
}
[data-title]::before{
  margin-top: 3px;
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0, .7);
  content: '';
}
[data-title]::after{
  margin-top: 13px;
  padding: 5px 8px;
  background-color: rgba(0,0,0, .7);
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0, .2);
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  content: attr(data-title);
}
[data-title]:hover::before,
[data-title]:hover::after{
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* 内容区域样式 */
.main{
  position: relative;
  min-height:100vh;
  overflow:hidden;
  &-content{
    @include maxWidth;
    padding-bottom: 200px;
  }
  hr {
    height: 2px;
    border: none;
    background-color: #ddd;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  }
}

.fade-enter,
.fade-appear{
  opacity: 0.01;
  transform: translateY(-20px);
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}

