@import "./assets/styles/base/index.scss";

/* 设置draft-js基础样式 */
.public-DraftEditorPlaceholder-root {
  top: 15px;
  left: 15px;
  font-size: 16px;
  pointer-events: none;
}

.DraftEditor-editorContainer {
  box-sizing: border-box;
  border: none;
}

.DraftEditor-root,
.public-DraftEditor-content,
.DraftEditor-editorContainer {
  height: 100%;
}

.public-DraftEditor-content {
  box-sizing: border-box;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.public-DraftEditor-content > div {
  padding-bottom: 20px;
}

blockquote {
  margin: 0 0 $spacer-3 0;
  padding: 15px 20px;
  background-color: #f1f2f3;
  border-left: solid 5px #ccc;
  color: #666;
  font-style: italic;
}

pre {
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0;
  padding: 15px;
  overflow: auto;
  background-color: #f1f2f3;
  border-radius: 3px;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

pre pre {
  margin: 0;
  padding: 0;
}

.fade-enter,
.fade-appear {
  opacity: 0.01;
  transform: translateY(-30px);
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}

.article-enter,
.article-appear {
  opacity: 0.01;
  transform: translateY(-40px);
}

.article-enter-active,
.article-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}
