.article {
  @include maxWidth;
  padding-top: $spacer-5;
  padding-bottom: $spacer-5;
  box-shadow: 0 0 16px rgba(0,0,0,0.12);
  h4 {
    margin-bottom: $spacer-2;
  }
  .article-input {
    margin-bottom: $spacer-3;
  }
  .editor-wrapper {
    margin-bottom: 30px;
    border: $border;
    border-radius: $border-radius;
  }
}
