.tags-wrapper {
  @include maxWidth;
  text-align: center;
  .tags {
    padding-top: $spacer-3;
  }
  .tag-link {
    display: inline-block;
    margin: 0 $spacer-3;
    font-size: 16px;
    border-bottom: $border;
    &:hover {
      border-color: $text-gray;
    }
  }
}
