.article-detail {
  @include maxWidth;
  padding-top: 80px;
  min-height: calc(100vh - 64px);
  color: $text-gray;
  background: $bg-white;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.blog-detail {
  @include maxWidth;
}
