.menu{
  position: fixed;
	width: 300px;
	top: 3em;
	bottom: 3em;
	left: 0;
	z-index: 100;
	overflow: hidden;
	transform: translate3d(-150px, 0, 0);
  transition: transform 0.6s;
  &.menu--open{
    -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
  }
  &__handle{
    background: var(--bg);
    border: none;
    width: 30px;
    height: 24px;
    padding: 0;
    outline: none;
    position: absolute;
    top: 3px;
    right: 70px;
    z-index: 2000;
    cursor: pointer;
    &::before,
    &::after,
    span{
      background: var(--primary);
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      transition: transform 0.25s;
    }
    span{
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      overflow: hidden;
      text-indent: 200%;
      transition: opacity 0.25s;
    }
    &::before{
      transform: translate3d(0, -10px, 0);
    }
    &::after{
      transform: translate3d(0, 10px, 0);
    }
    &:hover{
      &::before,
      &::after,
      span{
        background: var(--priamryActive);
      }
    }
  }
  .menu__nav{
    width: calc(100% + 25px);
    padding: 0 140px 2em 0;
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 100;
    text-align: center;
  }
  .menu__nav__item{
    margin: 0 0 2em 0;
    padding:0 2em;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.6s;
    a{
      display: inline-block;
      text-decoration: none;
    }
    &:first-child{
      transition-delay: 0.3s;
    }
    &:nth-child(2){
      transition-delay: 0.2s;
    }
    &:nth-child(3){
      transition-delay: 0.1s;
    }
  }
  &.menu--anim{
    .menu__nav__item{
      transform: translate3d(0, 0, 0);
    }
  }
}
.menu--open{
  span {
    opacity: 0;
  }
  .menu__handle::before {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  .menu__handle::after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.shape{
  position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
  right: 0;
  path{
    stroke: var(--primary);
	  stroke-width: 5px;
  }
}
.site{
  margin:2em 0;
  font-size:18px;
}
@media screen and (max-width: 63em) {
	.menu {
		transform: translate3d(-170px, 0, 0);
	}
}

