.header {
  position: relative;
  z-index:1;
  &-line{
    height: 3px;
    background:$bg-gray-dark;
  }
  &-inner{
    padding: 100px 0 70px;
  }
  .site-name{
    text-align:center;
    user-select: none;
    font-size: 0;
  }
  .site-name-inner{
    display: inline-block;
    padding:0 $spacer-3;
    font-size:$h3-size;
    background: $bg-gray-dark;
    color:$white;
    font-family: "justpeth";
    width:72px;
    height:36px;
  }
  .site-name-text{
    line-height: 36px;
  }
  .nav-links-wrapper{
    height:48px;
  }
  .nav-links{
    text-align: center;
    height:48px;
  }
  .nav-link{
    padding: 0 0 4px;
    display: inline-block;
    margin:0 $spacer-3;
    color: $text-gray;
    border-bottom: 1px solid transparent;
    font-size:13px;
    cursor: pointer;
    &:hover,
    &.active{
      color: $text-gray-dark;
      border-color:$text-gray-dark;
    }
  }
}
