@mixin input() {
  padding: $spacer-1 $spacer-2;
  font-size: $body-font-size;
  border: $border;
  border-radius: $border-radius;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  color: $text-gray;
  &:focus {
    outline: 0;
    box-shadow: $btn-input-focus-shadow;
  }
  &:disabled {
    background-color: $gray-100;
    opacity: 1;
    cursor: not-allowed;
    color: rgba($text-gray-light, 0.75);
  }
}
