.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -54px;
  width: 600px;
}
.search-svg {
  position: absolute;
  transform: translateX(-50%);
  width: 600px;
  height: auto;
  stroke-width: 8px;
  stroke: var(--color);
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 64.6 206.305;
  transition: all 0.5s ease-in-out;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.input-search {
  position: absolute;
  width: calc(100% - 148px);
  height: 64px;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 0;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 20px;
  font-size: 50px;
  color: var(--color);
}

.search-label {
  position: absolute;
  display: block;
  width: 108px;
  height: 108px;
  top: 0;
  left: 50%;
  margin-left: -54px;
  z-index: 100;
  transition: .5s ease-in-out;
}

.isActive {
  .search-label {
      transform: translateX(246px);
  }
  .search-svg {
      stroke-dashoffset: -65;
      stroke-dasharray: 141.305 66;
      transform: translateX(0);
  }
  &.full svg {
      stroke-dashoffset: -65;
      stroke-dasharray: 141.305 66;
      transform: translateX(0);
  }
}

.full {
  .search-label {
      transform: translateX(246px);
  }
  svg {
      stroke-dashoffset: 0;
      stroke-dasharray: 64.6 206.305;
      transform: translateX(0);
  }
}