.search-box{
  position:fixed;
  right:20px;
  top:22px;
  z-index:1;
}
.search {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 0 12px;
  border: 2px solid var(--primary);
  border-radius: 14px;
  transition: all 200ms ease-in;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    right: -5px;
    top: 21px;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }
  &.active {
    width: 220px;
    margin-right: 0px;
    border-radius:4px;
    border-color: var(--titleColor);
    &:after {
      height: 0px;
    }
  }
  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16px;
    line-height:24px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
    color:var(--color);
    &::placeholder {
      color: var(--summaryColor);
    }
  }
}
